// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "compass/reset";

@mixin placeholder-color($color) {
	&:-moz-placeholder {
		color:$color;
	}
	&::-webkit-input-placeholder {
		color:$color;
	}
}

%clearfix {
	*zoom: 1;
}
%clearfix:after {
	content: '';
	display: block;
	clear : both;
	height: 0;
}
@media print {  
	%clearfix:after {    
		height: 1px;    
		margin-bottom: -1px;
		visibility: hidden;	
	}
} 
 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	@include box-sizing(border-box);
}

body{
	font-family: sans-serif;
	font-size: 14px;
	background-color: #ce5044;
}

.login-contents{
	width: 300px;
	height: auto;
	margin: 50px auto;
	text-align: center;
	
	span{
		color: #fff;
		font-size: 450%;
	}
	
	input{
		display: block;
		border: none;
		color: #cb3c37;
		background-color: #fff;
		@include box-sizing(border-box);
	}
	
	input[type="text"], input[type="password"]{
		width: 100%;
		font-size: 20px;
		margin: 20px 0;
		padding: 10px;
		@include placeholder-color(#cb3c37);
		
		&:focus{
			outline: 0;
		}
	}
	
	.button{
		@extend %clearfix;
	}
	
	input[type="submit"]{
		width: 50%;
		color: #fff;
		font-size: 20px;
		padding: 20px;
		margin-top: 40px;
		border-top: solid 2px #fff;
		background-color: #ce5044;
		float: left;
		-moz-transition-duration: .5s;
		-webkit-transition-duration: .5s;
		-o-transition-duration: .5s;
		-ms-transition-duration: .5s;
		//iOS対策
		-webkit-appearance: none;
		@include border-radius(0);
		
		&:hover{
			background-color: #ad332f;
		}
	}
	
	input[type="button"]{
		@extend input[type="submit"];
		border-left: solid 2px #fff; 
	}
}



/**************************************
*forgot
**************************************/

.message {
	margin-top: 80px;
	text-align: center;
	
	a{
		text-decoration: none;
		font-size: 600%;
		font-weight: bold;
		color: #af1921;
		text-shadow: 0 1px 2px #edb3b2;
	}
}
