<div class="item w3">
	<div class="productList">
		<h2 class="bar">買物履歴</h2>
		<div class="inner">
				
			<div class="box1">
				<div class="artTitle">
					<h3>
						<a href="../farmerBlog/goodsInfo.html">野菜詰め合わせ</a>
					</h3>
				</div>
				<div class="productImg">
					<img src="img/box.png" alt="" />
				</div>
				<div class="artLiInfo">
					<div class="date"><p>2012年12月12日</p></div>
					<div class="artMenu">
						<ul>
							<li><a href="../farmerBlog/goodsInfo.html">再注文</a></li>
							<li><a href="../farmerBlog/goodsInfo.html">詳細表示</a></li>
						</ul>
					</div>
				</div>
			</div>
									
		</div>
	</div>
</div>