<div class="item w3">
	<div class="productList">
		<h2 class="bar">販売管理</h2>
		<div class="inner">
			<div class="histrry-type">
				<table>
					<tr>
						<td class="send-before"></td>
						<td>未処理</td>
						<td class="send-now"></td>
						<td>発送準備中</td>
						<td class="send-end"></td>
						<td>発送完了</td>
					</tr>
				</table>
			</div>
			
			<div class="send-before-list">
				<div class="artTitle">
					<h3>未処理サンプル</h3>
				</div>
				<div class="productImg">

				</div>
				<div class="artLiInfo">
					<div class="date"><p>2012年12月12日</p></div>
					<div class="artMenu">
						<ul>
							<li><a href="">詳細表示</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="send-now-list">
				<div class="artTitle">
					<h3>発送準備中サンプル</h3>
				</div>
				<div class="productImg">

				</div>
				<div class="artLiInfo">
					<div class="date"><p>2012年12月12日</p></div>
					<div class="artMenu">
						<ul>
							<li><a href="">詳細表示</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="send-end-list">
				<div class="artTitle">
					<h3>発送完了サンプル</h3>
				</div>
				<div class="productImg">

				</div>
				<div class="artLiInfo">
					<div class="date"><p>2012年12月12日</p></div>
					<div class="artMenu">
						<ul>
							<li><a href="">詳細表示</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>