<div class="item w1">
	<div class="news">
		<h2 class="bar">選択中のテーマ</h2>
		<div class="inner">
			<div class="theme">
				<div class="themeImg">
					<img src="img/takowasa.jpg" alt="" />
				</div>
				<div class="themeCnt">
					<h3>ずっしりタコワサ</h3>
					<p>バージョン: <span>1.0.1</span></p>
					<p>製作者: <span>takanashi66</span></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="item w2">
	<div class="news">
		<h2 class="bar">利用可能なテーマ</h2>
		<div class="inner">
			<div class="availablethemes">
				<div class="themeImg">
					<img src="img/takowasa.jpg" alt="" />
				</div>
				<div class="themeCnt">
					<h3>ずっしりタコワサ</h3>
					<p>バージョン: <span>1.0.1</span></p>
					<p>製作者: <span>takanashi66</span></p>
					<p><a href="">テーマを選択</a> | <a href="">削除</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="item w2">
	<div class="quick">
		<h2 class="bar">基本設定</h2>
		<div class="inner">
			<form action="">
				<label for="siteTitle">サイトのタイトル</label>
				<input type="text" name="" id="siteTitle" />
				
				<label for="Show">記事の表示数</label><br />
				<select name="" id="Show">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
				
				<input type="submit" value="設定の保存" />
				
			</form>
		</div>
	</div>
</div>