<div class="item w3">
	<div class="quick edit">
		<h2 class="bar">特定商取引情報</h2>
		<div class="inner">
		
			<form action="">
				<input type="text" name="" id="" placeholder="販売業者" />
				<input type="text" name="" id="" placeholder="運営責任者" />
				<input type="text" name="" id="" placeholder="郵便番号(123-1234)"/>
				<input type="text" name="" id="" placeholder="所在地" />
				<input type="text" name="" id="" placeholder="電話番号(123-123-1234)" />
				<input type="text" name="" id="" placeholder="メールアドレス" />
				<textarea name="" id="" cols="30" rows="10" placeholder="商品代金以外の必要料金"></textarea>
				<textarea name="" id="" cols="30" rows="10" placeholder="注文方法"></textarea>
				<textarea name="" id="" cols="30" rows="10" placeholder="支払い方法"></textarea>
				<textarea name="" id="" cols="30" rows="10" placeholder="支払い期限"></textarea>
				<textarea name="" id="" cols="30" rows="10" placeholder="引き渡し期間"></textarea>
				<textarea name="" id="" cols="30" rows="10" placeholder="返品交換について"></textarea>
				<input type="submit" value="保存" />
			</form>
			
		</div>
	</div>
</div>