<h1>Listing manage_products</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_products.each do |manage_product| %>
      <tr>
        <td><%= link_to 'Show', manage_product %></td>
        <td><%= link_to 'Edit', edit_manage_product_path(manage_product) %></td>
        <td><%= link_to 'Destroy', manage_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_manage_product_path %>
