<meta http-equiv="refresh" content="60; URL=http://www.example.com/">
<div class="market w2">
	<div class="confirm">
		<h1>ありがとうございます。</h1>
		<p>お支払いが完了しました。</p>
		<br>
		<p>約10秒後に自動でトップページへ移動します。</p>
	</div>
</div>