<% if activity.trackable %>
<tr>
	<td class="face"></td>
	<td class="friendInfo">
		<h3 class="title">
			<% if activity.owner.user_name != current_user.user_name %>
				<%= link_to activity.owner.user_name, top_path(activity.trackable.id) %>と<%= link_to User.find(p[:to_user]).user_name, top_path(User.find(p[:to_user]).id) %>が友達になりました。
			<% else %>
				<%= link_to User.find(p[:to_user]).user_name, top_path(User.find(p[:to_user]).id) %>と友達になりました。
			<% end %>
		</h3>
	</td>
	<td class="shareItem">
	</td> 
</tr>
<% end %>