/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?60006561');
  src: url('../font/fontello.eot?60006561#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?60006561') format('woff'),
       url('../font/fontello.ttf?60006561') format('truetype'),
       url('../font/fontello.svg?60006561#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60006561#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-level-up:before { content: '\e83c'; } /* '' */
.icon-plus-squared:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-erase:before { content: '\e83e'; } /* '' */
.icon-up-dir:before { content: '\e83b'; } /* '' */
.icon-right-dir:before { content: '\e83a'; } /* '' */
.icon-down-dir:before { content: '\e838'; } /* '' */
.icon-left-dir:before { content: '\e839'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-cup:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-layout:before { content: '\e809'; } /* '' */
.icon-tools:before { content: '\e832'; } /* '' */
.icon-cog:before { content: '\e833'; } /* '' */
.icon-attention:before { content: '\e828'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-squared:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e813'; } /* '' */
.icon-quote:before { content: '\e822'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e811'; } /* '' */
.icon-forward:before { content: '\e821'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e816'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e81d'; } /* '' */
.icon-tag:before { content: '\e81e'; } /* '' */
.icon-reply:before { content: '\e81f'; } /* '' */
.icon-reply-all:before { content: '\e820'; } /* '' */
.icon-export:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-chat:before { content: '\e826'; } /* '' */
.icon-location:before { content: '\e829'; } /* '' */
.icon-trash:before { content: '\e82b'; } /* '' */
.icon-basket:before { content: '\e831'; } /* '' */
.icon-login:before { content: '\e82e'; } /* '' */
.icon-logout:before { content: '\e82d'; } /* '' */
.icon-down-open:before { content: '\e834'; } /* '' */
.icon-left-open:before { content: '\e835'; } /* '' */
.icon-right-open:before { content: '\e836'; } /* '' */
.icon-up-open:before { content: '\e837'; } /* '' */
.icon-off:before { content: '\e84c'; } /* '' */
.icon-paper-plane:before { content: '\e83d'; } /* '' */
.icon-angle-double-left:before { content: '\e848'; } /* '' */
.icon-angle-double-right:before { content: '\e849'; } /* '' */
.icon-angle-double-up:before { content: '\e84a'; } /* '' */
.icon-angle-double-down:before { content: '\e84b'; } /* '' */
.icon-angle-circled-left:before { content: '\e844'; } /* '' */
.icon-angle-circled-right:before { content: '\e845'; } /* '' */
.icon-angle-circled-up:before { content: '\e846'; } /* '' */
.icon-angle-circled-down:before { content: '\e847'; } /* '' */
.icon-twitter:before { content: '\e842'; } /* '' */
.icon-facebook-squared:before { content: '\e843'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-bag:before { content: '\e830'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e82f'; } /* '' */
.icon-chart-line:before { content: '\e83f'; } /* '' */
.icon-chart-bar:before { content: '\e840'; } /* '' */
.icon-attach:before { content: '\e81a'; } /* '' */
.icon-book-open:before { content: '\e82c'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-lock-open:before { content: '\e81c'; } /* '' */
.icon-bell:before { content: '\e827'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-back:before { content: '\e818'; } /* '' */
.icon-chart-area:before { content: '\e841'; } /* '' */