// Place all the styles related to the manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";
@import "compass";
/* line 17, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;

  @include box-shadow(0 0 0 #000);
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/style.scss */
header, .container, .artList .artLiInfo, .productList .artLiInfo {
  *zoom: 1;
}

/* line 16, ../sass/style.scss */
header:after, .container:after, .artList .artLiInfo:after, .productList .artLiInfo:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

@media print {
  /* line 23, ../sass/style.scss */
  header:after, .container:after, .artList .artLiInfo:after, .productList .artLiInfo:after {
    height: 1px;
    margin-bottom: -1px;
    visibility: hidden;
  }
}
/* line 42, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/style.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f8f5ec;
}

/* line 53, ../sass/style.scss */
h1 {
  font-size: 150%;
}

/* line 56, ../sass/style.scss */
h2 {
  font-size: 120%;
}

/* line 59, ../sass/style.scss */
h3 {
  font-size: 110%;
}

/* line 62, ../sass/style.scss */
h4 {
  font-size: 110%;
}

/* line 66, ../sass/style.scss */
a {
  color: #858585;
  text-decoration: none;
}

/* line 71, ../sass/style.scss */
img {
  vertical-align: text-bottom;
}

/***** header *****/
/* line 77, ../sass/style.scss */
header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #272e34;
  color: #fff;
}
/* line 85, ../sass/style.scss */
header .hdrContents {
  width: 100%;
  max-width: 1010px;
  height: auto;
  margin: 0 auto;
}
/* line 92, ../sass/style.scss */
header .logo {
  width: 50%;
  float: left;
}
/* line 97, ../sass/style.scss */
header .hdrTools {
  width: 50%;
  min-width: 100px;
  font-size: 150%;
  color: #666666;
  text-align: right;
  float: left;
}
/* line 105, ../sass/style.scss */
header .hdrTools span {
  padding: 0 10px;
}
/* line 110, ../sass/style.scss */
header .hdrTools .lo:hover {
  color: #ef5348;
}

/***** contents *****/
/* line 118, ../sass/style.scss */
.contents {
  max-width: 1010px;
  margin: 0 auto;
  padding: 5px;
}

/* line 124, ../sass/style.scss */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/***** item *****/
/* line 131, ../sass/style.scss */
.item {
  margin: 10px;
  color: #858585;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d9d8d9;
  float: left;
}
/* line 139, ../sass/style.scss */
.item img {
  width: 100%;
  height: auto;
  vertical-align: text-bottom;
}

/***** item size *****/
/* line 147, ../sass/style.scss */
.w1 {
  width: 180px;
  height: auto;
}

/* line 152, ../sass/style.scss */
.w2 {
  width: 380px;
  height: auto;
}

/* line 157, ../sass/style.scss */
.w3 {
  width: 780px;
  height: auto;
}

/* line 162, ../sass/style.scss */
.w4 {
  width: 1000px;
  height: auto;
}

/******************
* navigation
******************/
/* line 173, ../sass/style.scss */
.nav {
  background-color: white;
}

/* line 177, ../sass/style.scss */
.menu {
  width: 180px;
  font-size: 120%;
  color: #b2b2b2;
}
/* line 182, ../sass/style.scss */
.menu a {
  display: block;
  padding: 10px 20px;
  color: #858585;
}
/* line 187, ../sass/style.scss */
.menu a:hover {
  color: #ef5348;
}
/* line 191, ../sass/style.scss */
.menu a:active {
  background-color: #e6e6e6;
}
/* line 196, ../sass/style.scss */
.menu:not(:last-child) {
  border-bottom: solid 2px #e6e6e6;
}
/* line 200, ../sass/style.scss */
.menu .icon {
  margin-right: 10px;
}

/* line 206, ../sass/style.scss */
.bar {
  width: 100%;
  height: auto;
  font-size: 120%;
  color: #ffffff;
  padding: 5px 20px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #dedede;
  background-color: #4ed39c;
}

/******************
* index
******************/
/* line 222, ../sass/style.scss */
.news ul li {
  padding: 7px 0 7px 20px;
}
/* line 224, ../sass/style.scss */
.news ul li:not(:last-child) {
  border-bottom: dashed 1px #cccccc;
}
/* line 230, ../sass/style.scss */
.news .date {
  color: #b8b8b8;
}

/* line 236, ../sass/style.scss */
.quick form {
  padding: 10px;
}
/* line 239, ../sass/style.scss */
.quick form input {
  display: block;
  background: none;
  border: none;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #858585;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 250, ../sass/style.scss */
.quick form input[type="text"] {
  width: 100%;
  border: solid 1px #cccccc;
}
/* line 254, ../sass/style.scss */
.quick form input[type="text"]:focus {
  outline: 0;
  border: solid 2px #4ed39c;
}
/* line 259, ../sass/style.scss */
.quick form input[type="submit"] {
  border: none;
  background-color: #ef5348;
  -webkit-appearance: none;
  color: #fff;
  padding: 10px 20px;
}
/* line 268, ../sass/style.scss */
.quick form input[type="submit"]:hover {
  background-color: #f37f77;
}
/* line 272, ../sass/style.scss */
.quick form input[type="submit"]:active {
  background-color: #d82013;
}
/* line 276, ../sass/style.scss */
.quick form textarea {
  border: none;
  border: solid 1px #cccccc;
  width: 100%;
  font-size: 15px;
  padding: 3px;
  color: #858585;
}
/* line 284, ../sass/style.scss */
.quick form textarea:focus {
  outline: 0;
  border: solid 2px #4ed39c;
}

/* line 292, ../sass/style.scss */
.accsess {
  width: 100%;
}
/* line 295, ../sass/style.scss */
.accsess #canvas {
  width: 100% !important;
  margin-top: 20px;
  height: auto !important;
}

/******************
* friend
******************/
/* line 308, ../sass/style.scss */
.feed .inner {
  width: 100%;
}
/* line 311, ../sass/style.scss */
.feed table {
  width: 100%;
}
/* line 314, ../sass/style.scss */
.feed table tr {
  display: block;
  width: 100%;
  padding: 10px 0;
}
/* line 319, ../sass/style.scss */
.feed table tr:not(:last-child) {
  border-bottom: dashed 1px #cccccc;
}
/* line 324, ../sass/style.scss */
.feed table tr:hover img {
  opacity: .6;
}
/* line 327, ../sass/style.scss */
.feed table tr:hover .title {
  color: #4ed39c;
}
/* line 333, ../sass/style.scss */
.feed table .face {
  width: 70px;
  min-width: 70px;
  padding: 0 10px;
}
/* line 338, ../sass/style.scss */
.feed table .face img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 343, ../sass/style.scss */
.feed table .friendInfo {
  width: 630px;
  padding-left: 10px;
}
/* line 348, ../sass/style.scss */
.feed table .title {
  font-size: 120%;
  font-weight: bold;
}
/* line 353, ../sass/style.scss */
.feed table .date {
  color: #b8b8b8;
}
/* line 360, ../sass/style.scss */
.feed table .shareItem {
  width: 60px;
  color: #9f9f9f;
  text-align: center;
}
/* line 365, ../sass/style.scss */
.feed table .shareItem li {
  line-height: 1.3;
  font-size: 120%;
  color: #b8b8b8;
}

/* line 375, ../sass/style.scss */
.friends table {
  width: 100%;
}
/* line 378, ../sass/style.scss */
.friends table tr {
  display: block;
  width: 100%;
  padding: 10px 0;
}
/* line 383, ../sass/style.scss */
.friends table tr:hover {
  color: #4ed39c;
}
/* line 385, ../sass/style.scss */
.friends table tr:hover img {
  opacity: .6;
}
/* line 390, ../sass/style.scss */
.friends table tr:not(:last-child) {
  border-bottom: dashed 1px #cccccc;
}
/* line 396, ../sass/style.scss */
.friends table .face {
  width: 70px;
  min-width: 70px;
  padding: 0 10px;
}
/* line 401, ../sass/style.scss */
.friends table .face img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 406, ../sass/style.scss */
.friends table .friendInfo {
  padding-left: 10px;
  line-height: 1.2;
}
/* line 410, ../sass/style.scss */
.friends table .friendInfo h3 {
  font-size: 120%;
}
/* line 414, ../sass/style.scss */
.friends table .friendInfo .belong {
  color: #b8b8b8;
}
/* line 421, ../sass/style.scss */
.friends table .more td {
  display: block;
  width: 100%;
  font-size: 110%;
  text-align: center;
}
/* line 427, ../sass/style.scss */
.friends table .more td .icon {
  font-size: 110%;
  font-weight: bold;
}
/* line 432, ../sass/style.scss */
.friends table .more:hover {
  background-color: white;
  color: #4ed39c;
}
/* line 435, ../sass/style.scss */
.friends table .more:hover .icon {
  color: #ef5348;
}

/******************
* article
******************/
/* line 450, ../sass/style.scss */
.artList .box1, .productList .box1 {
  padding: 10px;
}
/* line 453, ../sass/style.scss */
.artList .box1:nth-child(even), .productList .box1:nth-child(even) {
  background-color: #f7f7f7;
}
/* line 458, ../sass/style.scss */
.artList .artTitle, .productList .artTitle {
  width: 50%;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}
/* line 464, ../sass/style.scss */
.artList .artTitle:hover, .productList .artTitle:hover {
  color: #4ed39c;
}
/* line 469, ../sass/style.scss */
.artList .artTitle a:hover, .productList .artTitle a:hover {
  color: #4ed39c;
}
/* line 478, ../sass/style.scss */
.artList .date, .productList .date {
  float: left;
  margin: 0 10px;
}
/* line 483, ../sass/style.scss */
.artList .artMenu, .productList .artMenu {
  float: left;
}
/* line 487, ../sass/style.scss */
.artList li, .productList li {
  display: inline-block;
}
/* line 489, ../sass/style.scss */
.artList li:not(:last-child), .productList li:not(:last-child) {
  border-right: solid 1px #858585;
  padding: 0 10px;
}
/* line 494, ../sass/style.scss */
.artList li:hover, .productList li:hover {
  color: #ef5348;
}

/* line 502, ../sass/style.scss */
.newArt li {
  padding: 7px 0 7px 20px;
  font-size: 120%;
}
/* line 505, ../sass/style.scss */
.newArt li:not(:last-child) {
  border-bottom: dashed 1px #cccccc;
}
/* line 509, ../sass/style.scss */
.newArt li:hover {
  color: #ef5348;
}
/* line 514, ../sass/style.scss */
.newArt li a:hover {
  color: #ef5348;
}

/******************
* artEdit
******************/
/* line 527, ../sass/style.scss */
.edit input[type="text"] {
  font-size: 150%;
  padding: 5px;
}
/* line 532, ../sass/style.scss */
.edit input[type="button"] {
  padding: 5px 20px;
  background-color: #f7f7f7;
  border: solid 1px #dedede;
}
/* line 537, ../sass/style.scss */
.edit input[type="button"]:hover {
  background-color: white;
}
/* line 541, ../sass/style.scss */
.edit input[type="button"]:active {
  background-color: #dedede;
}

/* line 553, ../sass/style.scss */
.productList .artTitle {
  float: left;
}
/* line 557, ../sass/style.scss */
.productList .productImg {
  width: 80px;
  float: left;
}
/* line 561, ../sass/style.scss */
.productList .productImg img {
  width: 100%;
  height: auto;
}
/* line 567, ../sass/style.scss */
.productList .artLiInfo {
  clear: both;
}

/************************************
* レスポンシブ対応は基本的に
* masonry.jsがするので触る必要なし
************************************/
/******************
* media query / tablet
******************/
@media screen and (max-width: 800px) {
  /* line 593, ../sass/style.scss */
  .w3 {
    width: 580px;
  }

  /* line 597, ../sass/style.scss */
  .accsess {
    display: none;
  }
}
/******************
* media query / smartphone
******************/
@media screen and (max-width: 610px) {
  /* line 610, ../sass/style.scss */
  .box {
    padding: 5px;
  }

  /* line 613, ../sass/style.scss */
  .container {
    width: auto !important;
  }

  /* line 617, ../sass/style.scss */
  .w1 {
    width: 100%;
    height: auto;
  }

  /* line 622, ../sass/style.scss */
  .w2 {
    width: 100%;
    height: auto;
  }

  /* line 627, ../sass/style.scss */
  .w3 {
    width: 100%;
    height: auto;
  }

  /* line 633, ../sass/style.scss */
  .item {
    margin: 5px 0;
    -webkit-box-shadow: 0 0 0 black;
    -moz-box-shadow: 0 0 0 black;
    box-shadow: 0 0 0 black;
  }
  /* line 637, ../sass/style.scss */
  .item img {
    width: 100%;
    height: auto;
  }

  /* line 644, ../sass/style.scss */
  ul:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }

  /* line 652, ../sass/style.scss */
  .menu {
    width: 25%;
    font-size: 180%;
    float: left;
    text-align: center;
    border: solid 2px #e6e6e6;
    border-left: 0;
    border-top: 0;
  }
  /* line 661, ../sass/style.scss */
  .menu a {
    -webkit-tap-highlight-color: #eb2719;
  }
  /* line 672, ../sass/style.scss */
  .menu .tag {
    display: none;
  }

  /* line 677, ../sass/style.scss */
  .friends .inner {
    display: none;
  }
}
