// Place all the styles related to the manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";
@import "compass";
@import "compass/reset";


$menuColor: #ffffff;
$mainColor: #4ed39c;
$baceColor: #f8f5ec;
$fontColor: #858585;
$accentColor: #ef5348;
$barColor: #4ed39c;

%clearfix {
	*zoom: 1;
}
%clearfix:after {
	content: '';
	display: block;
	clear : both;
	height: 0;
}
@media print {  
	%clearfix:after {    
		height: 1px;    
		margin-bottom: -1px;
		visibility: hidden;	
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	@include box-sizing(border-box);
}

body{
	font-size: 13px;
	font-family: sans-serif;
	line-height: 1.5;
	background-color: $baceColor;
}

h1{
	font-size: 150%;
}
h2{
	font-size: 120%;
}
h3{
	font-size: 110%;
}
h4{
	font-size: 110%;
}

a{
	color: $fontColor;
	text-decoration: none;
}

img{
	vertical-align: text-bottom;
}

/***** header *****/

header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #272e34;
	color: #fff;
	@extend %clearfix;

	.hdrContents{
		width: 100%;
		max-width: 1010px;
		height: auto;
		margin: 0 auto;
	}
	
	.logo{
		width: 50%;
		float: left;
	}
	
	.hdrTools{
		width: 50%;
		min-width: 100px;
		font-size: 150%;
		color: darken(#fff, 60%);
		text-align: right;
		float: left;
		
		span{
			padding: 0 10px;
		}
		
		.lo{
			&:hover{
				color: $accentColor;
			}
		}
	}
}

/***** contents *****/
.contents{
	max-width: 1010px;
	margin: 0 auto;
	padding: 5px;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	@extend %clearfix;
}

/***** item *****/
.item {	
	margin: 10px;
	color: $fontColor;
	background-color: #fff;
	@include border-radius(3px);
	box-shadow: 0 1px 2px #d9d8d9;
	float: left;
	
	img{
		width: 100%;
		height: auto;
		vertical-align: text-bottom;
	}
}

/***** item size *****/
.w1{
	width: 180px;
	height: auto;
}

.w2{
	width: 380px;	
	height: auto;
}

.w3{
	width: 780px;	
	height: auto;
}

.w4{
	width: 1000px;	
	height: auto;
}



/******************
* navigation
******************/

.nav{
	background-color: $menuColor;
}

.menu{
	width: 180px;
	font-size: 120%;
	color: #b2b2b2;
	
	a{
		display: block;
		padding: 10px 20px;
		color: $fontColor;
		
		&:hover{
			color: $accentColor;
		}
		
		&:active{
			background-color: darken($menuColor, 10%);
		}
	}
	
	&:not(:last-child){
		border-bottom: solid 2px darken($menuColor, 10%);
	}
	
	.icon{
		margin-right: 10px;
	}
}


.bar{
	width: 100%;
	height: auto;
	font-size: 120%;
	color: #ffffff;
	padding: 5px 20px;
	@include border-radius(3px 3px 0 0);
	border-bottom: 1px solid #dedede;
	background-color: $barColor;
}

/******************
* index
******************/
.news{
	ul{
		li{
			padding: 7px 0 7px 20px;
			&:not(:last-child){
				border-bottom: dashed 1px darken(#fff, 20%);
			}
		}
	}
	
	.date{
		color: lighten($fontColor, 20%);
	}
}

.quick{
	form{
		padding: 10px;
		
		input{
			display: block;
			background: none;
			border: none;
			padding: 3px;
			margin-bottom: 10px;
			font-size: 15px;
			color: $fontColor;
			@include border-radius(2px);
		}
		
		input[type="text"]{
			width: 100%;
			border: solid 1px darken(#fff, 20%);	
			
			&:focus{
				outline: 0;
				border: solid 2px $mainColor;
			}
		}
		
		input[type="tel"]{
			@extend input[type="text"];
		}

		input[type="checkbox"]{
			display: inline;
		}
		
		input[type="submit"]{
			border: none;
			//border: solid 1px darken(#fff, 20%);
			background-color: $accentColor;
			//iOS対策
			-webkit-appearance: none;
			color: #fff;
			padding: 10px 20px;
			
			&:hover{
				background-color: lighten($accentColor, 10%);
			}
			
			&:active{
				background-color: darken($accentColor, 15%);
			}
		}
		textarea{
			border: none;
			border: solid 1px darken(#fff, 20%);
			width: 100%;
			font-size: 15px;
			padding: 3px;
			color: $fontColor;
			
			&:focus{
				outline: 0;
				border: solid 2px $mainColor;
			}
		}
	}
}

.accsess{
	width: 100%;
	
	#canvas{
		width: 100% !important;
		margin-top: 20px;
		height: auto !important;
	}
}


/******************
* friend
******************/

.feed{
	.inner{
		width: 100%;
	}
	table{
		width: 100%;
		
		tr{
			display: block;
			width: 100%;
			padding: 10px 0;
			
			&:not(:last-child){	
				border-bottom: dashed 1px darken(#fff, 20%);
			}
			
			&:hover{
				img{
					opacity: .6;
				}
				.title{
					color: $mainColor;
				}
			}
		}
		
		.face{
			width: 70px;
			min-width: 70px;
			padding: 0 10px;
			
			img{
				@include border-radius(50%);
			}
		}
		
		.friendInfo{
			width: 630px;
			padding-left: 10px;
		}
		
		.title{
			font-size: 120%;
			font-weight: bold;
		}
		
		.date{
			color: lighten($fontColor, 20%);
		}
		
		.writer{
			 
		}
		.shareItem{
			width: 60px;
			color: lighten($fontColor, 10%);
			text-align: center;
			
			li{
				line-height: 1.3;
				font-size: 120%;
				color: lighten($fontColor, 20%);
			}
		}
	}
}

.friends{
	table{
		width: 100%;
		
		tr{
			display: block;
			width: 100%;
			padding: 10px 0;
			
			&:hover{
				color: $mainColor;
				img{
					opacity: .6;
				}
			}
			
			&:not(:last-child){	
				border-bottom: dashed 1px darken(#fff, 20%);
			}
			
		}
		
		.face{
			width: 70px;
			min-width: 70px;
			padding: 0 10px;
			
			img{
				@include border-radius(50%);
			}
		}
		
		.friendInfo{
			padding-left: 10px;
			line-height: 1.2;
			
			h3{
				font-size: 120%;
			}
			
			.belong{
				color: lighten($fontColor, 20%);
			}
		}
		
		.more{
			
			td{
				display: block;
				width: 100%;
				font-size: 110%;
				text-align: center;
				
				.icon{
					font-size: 110%;
					font-weight: bold;
				}
			}
			&:hover{
				background-color: $menuColor;
				color: $mainColor;
				.icon{
					color: $accentColor;
				}
			}
		}
	}
}



/******************
* article
******************/

.artList{
	.box1{
		padding: 10px;
		
		&:nth-child(even){
			background-color: #f7f7f7;
		}
	}
	
	.artTitle{
		width: 50%;
		font-size: 150%;
		font-weight: bold;
		padding: 10px;
		
		&:hover{
			color: $mainColor;
		}
		
		a{
			&:hover{
				color: $mainColor;
			}
		}
	}
	.artLiInfo{
		@extend %clearfix;
	}
	
	.date{
		float: left;
		margin: 0 10px;
	}
	
	.artMenu{
		float: left;
	}

	li{
		display: inline-block;
		&:not(:last-child){
			border-right: solid 1px $fontColor;
			padding: 0 10px;
		}
		
		&:hover{
			color: $accentColor;
		}
		
	}
}

.newArt{
	li{
		padding: 7px 0 7px 20px;
		font-size: 120%;
		&:not(:last-child){
			border-bottom: dashed 1px darken(#fff, 20%);
		}
		
		&:hover{
			color: $accentColor;
		}
		
		a{
			&:hover{
				color: $accentColor;
			}
		}
	}
}


/******************
* artEdit
******************/

.edit{
	input[type="text"]{
		font-size: 150%;
		padding: 5px;
	}
	
	input[type="button"]{
		padding: 5px 20px;
		background-color: #f7f7f7;
		border: solid 1px #dedede;
		
		&:hover{
			background-color: lighten(#f7f7f7, 5%);
		}
		
		&:active{
			background-color: darken(#f7f7f7, 10%);
		}
	}
}




.productList{
	@extend .artList;
	
	.artTitle{
		float: left;
	}
	
	.productImg{
		width: 80px;
		float: left;
		
		img{
			width: 100%;
			height: auto;
		}
	}
	
	.artLiInfo{
		clear: both;
	}
	
}





/******************
* 基本設定
******************/
.theme{
	width: 100%;
	padding: 10px;
	
	.themeImg{
		width: 100%;
		
		img{
			width: 100%;
		}
		
	}
	
	.themeCnt{
		width: 100%;
		line-height: 1.8;
	}
}

.availablethemes{
	width: 100%;
	padding: 10px;
	@extend %clearfix;
	
	&:not(:last-child){	
		border-bottom: dashed 1px $fontColor;
	}
	
	.themeImg{
		width: 50%;
		float: left;
	}
	
	.themeCnt{
		width: 50%;
		padding-left: 10px;
		float: left;
	}
	
	a{
		color: $mainColor;
		text-decoration: underline;
	}
}









/************************************
* レスポンシブ対応は基本的に
* masonry.jsがするので触る必要なし
************************************/



/******************
* media query / tablet
******************/
@media screen and (max-width: 800px) {
	
	.w3{
		width: 580px;
	}
	
	.accsess{
		display: none;
	}
}



/******************
* media query / smartphone
******************/

@media screen and (max-width: 610px) {

	.box{
		padding: 5px;
	}
	.container{
		width: auto !important;
	}
	
	.w1{
		width: 100%;
		height: auto;
	}
	
	.w2{
		width: 100%;
		height: auto;
	}
	
	.w3{
		width: 100%;
		height: auto;
	}
	
	
	.item {	
		margin: 5px 0;
		@include box-shadow(0 0 0 #000);
		
		img{
			width: 100%;
			height: auto;
		}
	}
	
	ul{
		&:after {
			content: '';
			display: block;
			clear : both;
			height: 0;
		}
	}
	
	.menu{
		width: 25%;
		font-size: 180%;
		float: left;
		text-align: center;
		border: solid 2px darken($menuColor, 10%);
		border-left: 0;
		border-top: 0;
		
		a{
			-webkit-tap-highlight-color: darken($accentColor, 10%);
		}
		
		li{
		}
		
		.icon{
			//font-size: 180%;
		}
		
		.tag{
			display: none;
		}
	}
	.friends{
		.inner{
			display: none;
		}
	}
}