// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

$menuColor: #ffffff;
$mainColor: #4ed39c;
$baceColor: #f8f5ec;
$fontColor: #858585;
$accentColor: #ef5348;
$barColor: #4ed39c;

$infoColor: #abd47b;
$goodsColor: #ff605a;
$friendsColor: #75d6b5;
$picturesColor: #85acb6;

@import "compass";
@import "compass/reset";

%clearfix {
	*zoom: 1;
}
%clearfix:after {
	content: '';
	display: block;
	clear : both;
	height: 0;
}
@media print {  
	%clearfix:after {    
		height: 1px;    
		margin-bottom: -1px;
		visibility: hidden;	
	}
}

@mixin gradient-top-lighten($color:#666, $lighten:10%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	@include box-sizing(border-box);
}

body{
	font-size: 13px;
	font-family: sans-serif;
	line-height: 1.5;
	background-color: $baceColor;
}

h1{
	font-size: 150%;
}
h2{
	font-size: 140%;
	font-weight: bold;
}
h3{
	font-size: 110%;
}
h4{
	font-size: 110%;
}

a{
	text-decoration: none;
}


/***** contents *****/
header{
	width: 100%;
	min-width: 1010px;
	padding: 10px;
	@include gradient-top-lighten(#333,5%);
	@extend %clearfix;
	
	h1{
		display: block;
		width: 30%;
		float: left;
		color: #fff;
	}
	
	.hlink{
		width: 70%;
		float: left;
		text-align: right;
		
		a{
			color: $goodsColor;
		}
	}
}


/***** contents *****/
.contents{
	max-width: 1010px;
	margin: 0 auto;
	padding: 5px;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	@extend %clearfix;
}

/***** item *****/
.item {	
	margin: 10px;
	color: #fff;
	background-color: #fff;
	@include box-shadow(0 0 5px #a9a9a9);
	float: left;
	
	img{
		width: 100%;
		height: auto;
	}
	
	.inner{
		padding: 10px;
	}
	
	.more{
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}
}

/***** item colors *****/
.c1{
	background-color: $infoColor;
	
	.more{
		background-color: darken($infoColor, 15%);
		
		&:hover{
			background-color: lighten($infoColor, 5%);
		}
	}
}

.c2{
	background-color: $goodsColor;
	
	.more{
		background-color: darken($goodsColor, 15%);
		
		&:hover{
			background-color: lighten($goodsColor, 5%);
		}
	}
}

.c3{
	background-color: $friendsColor;
	
	.more{
		background-color: darken($friendsColor, 15%);
		
		&:hover{
			background-color: lighten($friendsColor, 5%);
		}
	}
}

.c4{
	background-color: $picturesColor;
	
	.more{
		background-color: darken($picturesColor, 15%);
		
		&:hover{
			background-color: lighten($picturesColor, 5%);
		}
	}
}

/***** item size *****/
.w1{
	width: 200px;
	height: auto;
}

.w2{
	width: 420px;	
	height: auto;
}

.w3{
	width: 640px;	
	height: auto;
}

.w4{
	width: 860px;	
	height: auto;
}

.imgBox{
	
	img{
		vertical-align: bottom;
	}
}

nav{
	@extend %clearfix;
}

.navBox{
	width: 50%;
	/* width: 210px; */
	height: 105px;
	float: left;
	
	ul{
		@extend %clearfix;
	}
}

.menu-li{
	width: 50%;
	height: 105px;
	//height: 100%;
	//vertical-align: middle;
	/*
width: 105px;
	height: 105px;
*/
	
	padding-top: 15px;
	color: #fff;
	text-align: center;
	line-height: 1.3;
	float: left;
	
	a{
		display: block;
		color: #fff;
	}
	
	.icon{
		font-size: 200%;
	}
	
	p{
		font-size: 15px;
	}
	
}

.goodsInfo{
	.goodsName{
		font-size: 190%;
	}
	
	.goodsDetail{
		font-size: 110%;
		line-height: 1.8;
	}
	.price{
		font-size: 140%;
	}
}

.item-inner{
	padding: 20px;
}

/************
* TOP
************/
.main{
	text-align: center;
	
	h1{
		margin-top: 20px;
		font-weight: bold;
	}
	
	a{
		display: block;
		font-size: 120%;
		padding: 10px 0;
	}
}

/************
* login-contents
************/

.sign-up-contents{
	width: 300px;
	height: auto;
	margin: 50px auto;
	text-align: center;
	
	label{
		display: block;
		margin-top: 20px;
		font-size: 120%;
	}
	
	input{
		padding: 10px;
		font-size: 120%;
	}
	
	input[type="radio"]{
		display: inline-block;
		margin: 10px;
	}
	
	/*
span{
		color: #fff;
		font-size: 450%;
	}
	
	input{
		display: block;
		border: none;
		color: #cb3c37;
		background-color: #fff;
		@include box-sizing(border-box);
	}
	
	input[type="text"], input[type="password"]{
		width: 100%;
		font-size: 20px;
		margin: 20px 0;
		padding: 10px;
		@include placeholder-color(#cb3c37);
		
		&:focus{
			outline: 0;
		}
	}
	
	.button{
		@extend %clearfix;
	}
	
	input[type="submit"]{
		width: 50%;
		color: #fff;
		font-size: 20px;
		padding: 20px;
		margin-top: 40px;
		border-top: solid 2px #fff;
		background-color: #ce5044;
		float: left;
		-moz-transition-duration: .5s;
		-webkit-transition-duration: .5s;
		-o-transition-duration: .5s;
		-ms-transition-duration: .5s;
		//iOS対策
		-webkit-appearance: none;
		@include border-radius(0);
		
		&:hover{
			background-color: #ad332f;
		}
	}
	
	input[type="button"]{
		@extend input[type="submit"];
		border-left: solid 2px #fff; 
	}
*/
}



/************************************
* レスポンシブ対応は基本的に
* masonry.jsがするので触る必要なし
************************************/



/******************
* media query / tablet
******************/
@media screen and (max-width: 800px) {
	
	.w4{
		width: 580px;
	}
	
	.w3{
		width: 580px;
	}
}



/******************
* media query / smartphone
******************/

@media screen and (max-width: 610px) {

	.box{
		padding: 5px;
	}
	.container{
		width: auto !important;
	}
	
	.w1{
		width: 100%;
		height: auto;
	}
	
	.w2{
		width: 100%;
		height: auto;
	}
	
	.w3{
		width: 100%;
		height: auto;
	}
	
	.w4{
		width: 100%;
		height: auto;
	}
	
	
	.item {	
		margin: 5px 0;
		@include box-shadow(0 0 0 #000);
		
		img{
			width: 100%;
			height: auto;
		}
	}
	
	.navBox{
		width: 100%;
		height: auto;
		background-color: aqua;
		float: none;
	}
	
	.menu{
		width: 50%;
		height: auto;
		padding: 20px 0;
		
		.icon{
			font-size: 300%;
		}
		
		h2,p{
			display: none;
		}
	}
}





